* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.coverter-row {
  background-image: linear-gradient(to bottom left, #1793fe 0%, #71d5fd 100%);
  width: 330px;
  height: 250px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6.7px 8.3px rgba(0, 0, 0, 0.069),
    0 22.3px 27.9px rgba(0, 0, 0, 0.101), 0 100px 125px rgba(0, 0, 0, 0.17);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.coverter-row:nth-of-type(even) {
  background: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 100;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

input[type="number"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 80%;
  max-width: 9rem;
  font-size: 1.8rem;
  outline: none;
  color: white;
  margin-right: 0.5rem;
}

select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.coverter-row:nth-of-type(even)>input[type="number"] {
  color: #1793fe;
  border-bottom: 1px solid #1793fe;
}

.coverter-row:nth-of-type(even)>select {
  color: #1793fe;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 450px) {
  .coverter-row {
    height: 8rem;
  }
}